@import "./../../stylesheet";

.mycheckbox{
  height: 16px;
  width: 16px;
  background: white;
  border-color: $checkbox-selected-border;
  //box-shadow: 0 0 0 4px $checkbox-selected-shadow;
}


.style-7::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
  border-radius: 10px;
}


.style-7::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
}

.style-7::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-image: -webkit-gradient(linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(178, 174, 177))
  )
}


#style-7::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
  border-radius: 10px;
}

#style-7::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
}

#style-7::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-image: -webkit-gradient(linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(127, 124, 126))
  )
}


.ui-component__checkbox-wrapper {
  position: relative;
  clear: both;
  margin-bottom: 25px;
  @include clearfix;


  &--invalid {
    .ui-component__dummy-checkbox {
      border: 1px solid $error-color;
    }

    .ui-component__checkbox {
      &:checked ~ .ui-component__checkbox-label .ui-component__dummy-checkbox {
        border: 1px solid $error-color;
      }
      &:hover ~ .ui-component__checkbox-label .ui-component__dummy-checkbox,
      &:focus ~ .ui-component__checkbox-label .ui-component__dummy-checkbox {
        border: 1px solid $error-color;
        box-shadow: 0px 0px 0px 4px $checkbox-error-shadow;
      }
    }
  }

  .ui-component__checkbox-label {
    float: left;
    width: 100%;
    line-height: 1.1875;
    color: $midgrey5;
    font-size: 1.6em;

    &--text {
      display: inline-block;
      padding-left: 44px;
      margin-top: 6px;
    }
  }

  .ui-component__icon--checkmark {
    height: 32px;
    width: 32px;
    line-height: 32px;
    position: absolute;
    left: -1px;
    top: -1px;
    font-size: 20px;
    text-align: center;

    &:before {
      color: #fff;
      display: inline-block;
      /* The icons itself seems to have some included space at the top
         This workaround positions the icon correctly in the checkbox */
      margin-top: -4px;
    }
  }
}

.ui-component__checkbox {
  &:checked ~ .ui-component__checkbox-label .ui-component__dummy-checkbox {
    background: $link-blue-hover;
    border-color: $link-blue-hover;
  }

  &:focus ~ .ui-component__checkbox-label .ui-component__dummy-checkbox {
    border-color: $checkbox-selected-border;
    box-shadow: 0 0 0 4px $checkbox-selected-shadow;
  }

  &:disabled ~ .ui-component__checkbox-label .ui-component__dummy-checkbox {
    cursor: default;
    background-color: $footer-grey;

    .ui-component__icon--checkmark:before {
      color: $footer-grey;
    }
  }
  &:disabled ~ .ui-component__checkbox-label {
    color: #999;
  }
  &:disabled ~ .ui-component__checkbox-label .ui-component__dummy-checkbox,
  &:disabled:hover ~ .ui-component__checkbox-label .ui-component__dummy-checkbox,
  &:disabled:focus ~ .ui-component__checkbox-label .ui-component__dummy-checkbox {
    border: 1px solid #ccc;
    box-shadow: none;
  }
}

.ui-component__dummy-checkbox {
  border: 1px solid #ccc;
  display: block;
  float: left;
  clear: none;
  height: 3.2rem;
  width: 3.2rem;
  position: absolute;
  cursor: pointer;
  transition: box-shadow 0.3s;
  vertical-align: middle;
  margin-right: 12px;

  &:hover {
    border-color: $checkbox-selected-border;
    box-shadow: 0 0 0 4px $checkbox-selected-shadow;
  }
}

.panel-group,
.panel,
.panel-heading{
  background: #fff !important;
  border: 0px;
}
.panel-heading a{
  text-decoration: none;
  color: #00539f;
  border-bottom: 1px solid transparent;
  transition: border 0.3s;
  font-weight: 600;
}

.panel-heading a:hover{
  color: #00539f;
  text-decoration: underline;
}
.panel-heading .accordion-toggle:after {
  /* symbol for "opening" panels */
  font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
  content: "\e114";    /* adjust as needed, taken from bootstrap.css */
  float: right;        /* adjust as needed */
  color: #00539f;         /* adjust as needed */
  stroke: #00539f;
  border: 1px solid #00539f;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
  height: 24px;
  width: 24px;
  text-align: center;
}
.panel-heading .collapsed .accordion-toggle:after {
  /* symbol for "collapsed" panels */
  content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}


.panel-heading .accordion-toggle:hover{
  border-radius:50%;
  height: 24px;
  width: 24px;
  box-shadow: 0px 0px 0px 4px rgba(0, 83, 159, 0.4);
}


