.bar.total rect {
  fill: #cc3333;
}

.bar.positive rect {
  //fill: #cc3333;
  fill: #cc3333;
}

.bar.negative rect {
  //fill: #58ee81;
  fill: #69B24A;
}

.bar line.connector {
  stroke: grey;
  stroke-dasharray: 3;
}


.bar text {
  fill: white;
  font: 10px Tesco;
  text-anchor: middle;
}


.chartAxisTitle{
  font-size: 10px !important;
  fill: #333333;
  font-family: Tesco;
}



.axis text {
  font: 10px Tesco;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar.total rect {
  fill: #cc3333;
}

.bar.total1 rect {
  fill: #58ee81;
}

.bar:hover rect {
  fill: orange;
}


.waterfallCalloutsPositive {
  color: green;
}


.waterfallCalloutsNegative {
  color: red;
}

.waterfallCalloutsNeutral {
  color: red;
}
