@import "./../../stylesheet";

.ts-blk-proview-subhead {
  text-align: center;
  //color: #00539f !important;
  width: 100%;
  line-height: 28px;
  font-size: 18px;
  height: 28px;
  //color: #e5e8ea !important;
  //background-color: #00294f;
  //background-color: #b3e0ff;

  color:#00294f !important;
  background-color: #e5e8ea;


}

//
.ts-blk-proview {
  margin-top: 20px;
  //background: white;
  height: 400px;
  //  color: #666;
  //  font-size: 19px;
  //  font-weight: bold;
  border: 1px solid rgba(0, 0, 0, 0.2);
  //
}


.table-body-format{

  font-size: 16px;
  font-family:Tesco;

}

.table-header-format{
  //font-size: 16px;
  //font-family:Tesco;
}


//For button


//.col {
//  display: inline-block;
//  vertical-align: top;
//}
//
//
//.button {
//  position: relative;
//  margin: 1em;
//  font-weight: bold;
//  padding: 1em 1.25em;
//  text-align: center;
//  width: 200px;
//  border-radius: 5px;
//  overflow: hidden;
//  position: relative;
//  z-index: 0;
//  cursor: pointer;
//}
//
//
//.button.raised {
//  -moz-transition: 0.1s all;
//  -o-transition: 0.1s all;
//  -webkit-transition: 0.1s all;
//  transition: 0.1s all;
//  background: #00539f;
//  box-shadow: 0px 1px 1px #085a9b;
//}
//.button.raised:active {
//  background: #0c7dd8;
//  box-shadow: 0px 1px 1px #063e6b;
//}
//
//
//input[type="checkbox"].toggle {
//  -moz-appearance: none;
//  -webkit-appearance: none;
//  position: absolute;
//  width: 100%;
//  height: 100%;
//  margin: 0;
//  left: 0;
//  top: 0;
//  cursor: pointer;
//}
//input[type="checkbox"].toggle:focus {
//  outline: 0;
//}
//
//.anim {
//  -moz-transform: translateY(-50%) translateX(-50%);
//  -ms-transform: translateY(-50%) translateX(-50%);
//  -webkit-transform: translateY(-50%) translateX(-50%);
//  transform: translateY(-50%) translateX(-50%);
//  position: absolute;
//  top: 50%;
//  left: 50%;
//  z-index: -1;
//}
//.anim:before {
//  position: relative;
//  content: '';
//  display: block;
//  margin-top: 100%;
//}
//.anim:after {
//  content: '';
//  position: absolute;
//  top: 0;
//  bottom: 0;
//  left: 0;
//  right: 0;
//  border-radius: 50%;
//}
//
//.clickable .toggle:checked + .anim {
//  -moz-animation: anim-in 0.75s;
//  -webkit-animation: anim-in 0.75s;
//  animation: anim-in 0.75s;
//}
//.clickable .toggle:checked + .anim:after {
//  -moz-animation: anim-in-pseudo 0.75s;
//  -webkit-animation: anim-in-pseudo 0.75s;
//  animation: anim-in-pseudo 0.75s;
//}
//.clickable .toggle:not(:checked) + .anim {
//  -moz-animation: anim-out 0.75s;
//  -webkit-animation: anim-out 0.75s;
//  animation: anim-out 0.75s;
//}
//.clickable .toggle:not(:checked) + .anim:after {
//  -moz-animation: anim-out-pseudo 0.75s;
//  -webkit-animation: anim-out-pseudo 0.75s;
//  animation: anim-out-pseudo 0.75s;
//}
//
//.hoverable:hover > .anim {
//  -moz-animation: anim-out 0.75s;
//  -webkit-animation: anim-out 0.75s;
//  animation: anim-out 0.75s;
//}
//.hoverable:hover > .anim:after {
//  -moz-animation: anim-out-pseudo 0.75s;
//  -webkit-animation: anim-out-pseudo 0.75s;
//  animation: anim-out-pseudo 0.75s;
//}
//
//@-webkit-keyframes anim-in {
//  0% {
//    width: 0%;
//  }
//  100% {
//    width: 100%;
//  }
//}
//@-moz-keyframes anim-in {
//  0% {
//    width: 0%;
//  }
//  100% {
//    width: 100%;
//  }
//}
//@-ms-keyframes anim-in {
//  0% {
//    width: 0%;
//  }
//  100% {
//    width: 100%;
//  }
//}
//@keyframes anim-in {
//  0% {
//    width: 0%;
//  }
//  100% {
//    width: 100%;
//  }
//}
//@-webkit-keyframes anim-in-pseudo {
//  0% {
//    background: rgba(0, 0, 0, 0.25);
//  }
//  100% {
//    background: transparent;
//  }
//}
//@-moz-keyframes anim-in-pseudo {
//  0% {
//    background: rgba(0, 0, 0, 0.25);
//  }
//  100% {
//    background: transparent;
//  }
//}
//@-ms-keyframes anim-in-pseudo {
//  0% {
//    background: rgba(0, 0, 0, 0.25);
//  }
//  100% {
//    background: transparent;
//  }
//}
//@keyframes anim-in-pseudo {
//  0% {
//    background: rgba(0, 0, 0, 0.25);
//  }
//  100% {
//    background: transparent;
//  }
//}
//@-webkit-keyframes anim-out {
//  0% {
//    width: 0%;
//  }
//  100% {
//    width: 100%;
//  }
//}
//@-moz-keyframes anim-out {
//  0% {
//    width: 0%;
//  }
//  100% {
//    width: 100%;
//  }
//}
//@-ms-keyframes anim-out {
//  0% {
//    width: 0%;
//  }
//  100% {
//    width: 100%;
//  }
//}
//@keyframes anim-out {
//  0% {
//    width: 0%;
//  }
//  100% {
//    width: 100%;
//  }
//}
//@-webkit-keyframes anim-out-pseudo {
//  0% {
//    background: rgba(0, 0, 0, 0.25);
//  }
//  100% {
//    background: transparent;
//  }
//}
//@-moz-keyframes anim-out-pseudo {
//  0% {
//    background: rgba(0, 0, 0, 0.25);
//  }
//  100% {
//    background: transparent;
//  }
//}
//@-ms-keyframes anim-out-pseudo {
//  0% {
//    background: rgba(0, 0, 0, 0.25);
//  }
//  100% {
//    background: transparent;
//  }
//}
//@keyframes anim-out-pseudo {
//  0% {
//    background: rgba(0, 0, 0, 0.25);
//  }
//  100% {
//    background: transparent;
//  }
//}


//NEW CSS - FORMATTED

.tabsCustom {
  margin-top: 24px;
}


//TABS
.tabsCustomList {
  //color: red;
  //width: 30%;
  //text-align: center;
  //border-style: ridge;
  //border-radius: 8px;
  //margin-left: 35px;
}

.tabsCustomList {
  display: inline-block;
  margin: 0 8px 0 0;
  border-bottom: none;
}

.tabsCustomList a{
  background: #EDECEC;
  fontFamily: 'Tesco' !important;
  color: #00539f !important;
  display: block !important;
  padding: 15px 24px 16px 24px !important;
  text-decoration: none;
}
.tabsCustomList a:hover {
  text-decoration: underline !important;
  color:#008dc8;
}
.tabsCustomList.active{
  margin-bottom: -1px;
}

.tabsCustomList span.tab_label{
  padding: 12px 8px;
  color: #048EC3;
  font-weight: 600;
}


.tabsCustomList.active span.tab_label{
  border-bottom: #048EC3 solid 4px;
}
.content-wrap{
  background: #fff;
}
//
//.li > a {
//  text-decoration: none;
//}

//.nav > li > a {
//  position: relative;
//  display: block;
//  padding: 10px 15px;
//  text-decoration: none;
//}

//.nav-tabs {
//  border-bottom: 0px solid #ddd !important;
//}



//li > a:hover {
//  background-color: #008dc8 !important;
//}
//
.pagination{
  margin: 0px;
}
.pagination a {
  margin: 0px 10px;
  margin-top: -3px !important;
  width: 30px !important;
  height: 30px !important;
  display: inline-block !important;
  border-radius: 50%;
  background-color: #fff;
  color: #008dc8 !important;
  padding: 0px !important;
  text-align: center;
  line-height: 30px !important;
  border: 0px !important;
}

.pagination li.disabled:first-child a,
.pagination li.disabled:last-child a{
  border:2px solid #ccc !important;
}
.pagination li:last-child a,
.pagination li:first-child a{
  border:2px solid #008dc8 !important;
  border-radius: 50% !important;
  line-height: 25px !important;
}
.pagination li:last-child a:hover,
.pagination li:first-child a:hover {
  box-shadow: 0 0 0 4px rgba(0, 83, 159, 0.4);
  transition: box-shadow 0.3s;
}
.pagination .active a{
  background-color: #008dc8 !important;
  color: #ffffff !important;
  margin-top: -3px !important;
}
.chartwrap{
  overflow-x: auto;
}




.FlexContainer.Row {
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
}

.FlexContainer.Column {
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}
.container-left{
  display: flex;
}
